<h5>
    Welcome to the Eightweb CMS demo based on Eight\PageBundle.
</h5>

<p>
    Browse the page listing to edit any page property or layout.
    You can edit all of the following:
    <ul>
        <li>
            Title tag
        </li>
        <li>
            Description tag
        </li>
        <li>
            Url
        </li>
        <li>
            Locale
        </li>
    </ul>
</p>

<p>
    You can start editing the website from <a href="{{ path('admin_eight_page_page_layout', { id: 1 }) }}">here</a>,
    or go back to website from <a href="{{ i18n_path('homepage') }}">here</a>.
</p>
