{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">

            <h2 class="form-signin-heading">
                <span class="fa fa-lock"></span>
                Reset password
            </h2>

            {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
        </div>
    </div>
</div>
{% endblock content %}